<div class="row">
    <div class="col-8"></div>
    <div class="col-4">
        <a href="/ideas">Bright Ideas</a> |
        <a href="/logout" data-method="delete">Logout</a>

    </div>
</div>
<hr>
<!-- IDEA -->
<div class=row>
    <div class="col-2">
        <p class=co><a href="/users/<%= @idea.user.id %>"><%= @idea.user.name %></a> says: </p>
    </div>
    <div class="col-5">
        <p> <%= @idea.idea %></p>
    </div>
    <div class="col-2"></div>
</div>

<!-- PEOPLE TABLE -->
<hr>
<% unless @idea.liked_users == [] %>
<h4>People who liked this post</h4>

<table class="table">
    <thead>
        <tr>
            <th>Alias</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <% @idea.liked_users.each do |user| %>
        <tr>
            <td><a href="/users/<%= user.id %>"><%= user.name %></a></td>
            <td><%= user.alias %></td>          
        </tr>
        <% end %>

    </tbody>
</table>

<% end %>